/* body {
    background-color: rgb(77, 68, 68);
}

.search-form {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 5);
    width: 350;
    margin: 5px;
}

img {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

.info {
    background-color:rgb(161, 177, 105);
    display: flex;
    flex-grow: 1;
    padding: 5px;
}

button {
    cursor: pointer;
    border: transparent;
    width: 75px;
    height: 22px;
    background-color: #d59760;
    color: #212121;
    font-size: 14px;
    border-radius: 2px;
} */



body {
    background-color: rgb(77, 68, 68);
}

img {
    display: block;
    width: 100%;
    min-width: 180px;
    height: 160px;
    object-fit: cover;
}

button {
    cursor: pointer;
    border: transparent;
    width: 75px;
    height: 22px;
    background-color: rgb(163, 145, 38);
    color: #212121;
    font-size: 14px;
    border-radius: 2px;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 24px;
}

/* .is-hidden {
    display: none;
} */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: calc(100vw - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.gallery img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.info {
    display: flex;
}